* 
{
    margin: 0;
    padding: 0;
    font-family: Veranda, "Old Standard TT", sans-serif;
    /* font-weight:bold; */
    /* font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem); */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::-webkit-scrollbar {
    width: 0;
  }

.header {
    width: 80vw;
    position:absolute;
    z-index: 5;
}


.fighters {
    padding: 10vw 5% 0vw 5%;
    width: 90%;
}

.center {
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}
.wrapper {
    display: block;
}
.container {
    grid-template-columns: 80vw 20vw;
    display: grid;
    background-color: #333;
}

.paralax_container_1,
.paralax_container_2,
.paralax_container_3 {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.paralax_container_1 {
    background-image: url(/img/background_paralax_1.jpg);
}
.paralax_container_2 {
    background-image: url(/img/background_paralax_2.jpg);
}
.paralax_container_3 {
    background-image: url(/img/background_paralax_3.jpg);
}

.content {
    grid-template-columns: 40vw 40vw;
    display: grid;
    /* gap: 2%; */
    justify-content: space-around;
    justify-items: center;
    padding: 10vh 0 10vh 0;
}
.first_content {
    padding-top: 20vh;
}
.last_content {
    padding-bottom: 20vh;
}



.block-figure-4 {
    position: relative;
    display: block;
    /* padding: 1vw; */
    width: 38vw;
    height: 38vw;
    background-color: #e7e7e7f3;
    box-shadow: 2px 12px 15px rgba(0, 0, 0, 0.4);
}
.block-figure-4 .triangle-1, 
.block-figure-4 .triangle-2, 
.block-figure-4 .triangle-1:after,
.block-figure-4 .triangle-2:after,
.block-figure-4 .triangle-1:before,
.block-figure-4 .triangle-2:before  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0.5vw;
}
.block-figure-4 .triangle-1, 
.block-figure-4 .triangle-2 {
    filter: drop-shadow(2px 6px 6px rgba(0, 0, 0, 0.4));
}
.block-figure-4 .triangle-1:after,
.block-figure-4 .triangle-1:before {    
    clip-path: polygon(0 0, 40% 0, 20% 100%, 20% 100%);
    content: "";
    transition: all .5s ease-in-out;    
    background-size: cover;
    background-position: center center;
    background-image: url(./img/Red_Star_Order.png);        
}
.block-figure-4 .triangle-1:before {    
    background: #333;    
    z-index: 2;
}
.block-figure-4:hover .triangle-1:after,
.block-figure-4:hover .triangle-1:before {
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0  100%);    
} 
.block-figure-4:hover .triangle-1:before {
    background-color: rgba(51, 122, 183, 0);    
} 
 
.block-figure-4 .triangle-2:after,
.block-figure-4 .triangle-2:before {
    clip-path: polygon(80% 0, 100% 100%, 60% 100%, 80% 0);
    content: "";
    transition: all .5s ease-in-out;    
    background-size:cover;
    background-position: center center;
    background-image: url(./img/Red_Star_Order.png);    
}
.block-figure-4 .triangle-2:before {    
    background: #f39c12;    
    z-index: 2;
}
.block-figure-4:hover .triangle-2:after,
.block-figure-4:hover .triangle-2:before {
    clip-path: polygon(100% 0, 100% 100%, 40% 100%, 60% 0);
} 
.block-figure-4:hover .triangle-2:before {
    background-color: rgba(191, 226, 255, 0);    
}
.block-figure-4 .triangle-txt {
    position: relative;
    text-align: center;
    z-index: 1;
    margin: 1% 0% 0% 0%;
    left: 0;
    box-shadow: 2px 12px 15px rgba(0, 0, 0, 0.4);    
    transition: all .5s ease-in-out;    
}

.block-figure-4:hover .triangle-txt {
    left: 105%;
    margin: 0% 0% 0% 0%;
    z-index: 0;
}



.block-figure-4 .triangle-txt h3 {  
    text-transform: uppercase;
    color: #f39c12;
    font-weight: bolder;
    font-size: 20px; 
    padding: 1vh 0px;
    background: #f0ecec;
    margin: 0.5vw;
    transition: all .5s
}
.block-figure-4 .triangle-txt p { 
    font-size: 18px; 
    margin: 0.5vw;
    background: #f0ecec;
    padding: 1%;
    transition: all .5s
}

.block-figure-4:hover .whitespace,
.block-figure-4:hover .triangle-txt h3,
.block-figure-4:hover .triangle-txt p {
    background: #f0ecec;
    /* margin: 0; */
}

.block-figure-4:hover .triangle-txt h3 {
    padding-top: 0.5vw;
}

.block-figure-4:hover .triangle-txt h3 {
    padding-bottom: 6px;
}

.block-figure-4:hover .triangle-txt p {
    padding-top: 6px;
}


.description {
    position: relative;
    text-align: center;
    width: 38vw;
    height: 38vw;
    background-color: #e7e7e7f8;
    box-shadow: 2px 12px 15px rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.description h3 {  
    text-transform: uppercase;
    color: #f39c12;
    font-weight: bolder;
    font-size: 20px; 
    margin: 0.5vw;
}
.description p {
    font-size: 18px; 
    margin: 0.5vw;
}

.whitespace {
    height: 10px;
    transition: all .5s
}

.buffer {
    /* width: 100%; */
    /* min-height: 10vh; */
    /* background-color: #ffffff6b; */
}

.footer-parallax {
    /* position:fixed; */
    bottom:0;
    left:0;
    width:87vw;
    z-index: 22;
    height:20vh;
    background: #333;
    box-shadow: inset -20px 0px 12px 7px #f39c12e0;
}



.curveWrap {
    background: #333;
    width: 100vw;
    height: 100%;
    z-index: 999;
}

.curveWrap_1 {
    background-color: #939393;
    width: 100%;
    height: 15vh;
}

.curveWrap .curve,
.curveWrap_1 .curve {
stroke-linecap: round;
    stroke-opacity: 0.7;
}
.curveWrap .curve path,
.curveWrap_1 .curve path {
    transform-origin: center;
}
.curveWrap .curve path:nth-child(6n + 1),
.curveWrap_1 .curve path:nth-child(6n + 1) {
    stroke: #030303;
}
.curveWrap .curve path:nth-child(6n + 2),
.curveWrap_1 .curve path:nth-child(6n + 2) {
    stroke: #f39c12;
}
.curveWrap .curve path:nth-child(6n + 3),
.curveWrap_1 .curve path:nth-child(6n + 3) {
    stroke: #030303;
}
.curveWrap .curve path:nth-child(6n + 4),
.curveWrap_1 .curve path:nth-child(6n + 4) {
    stroke: #f7b64d;
}
.curveWrap .curve path:nth-child(1),
.curveWrap_1 .curve path:nth-child(1) {
    stroke-width: 24;
    animation: curve 35s linear 1.4s infinite;
}
.curveWrap .curve path:nth-child(2),
.curveWrap_1 .curve path:nth-child(2) {
    stroke-width: 21;
    animation: curve 35s linear 2.8s infinite;
}
.curveWrap .curve path:nth-child(3),
.curveWrap_1 .curve path:nth-child(3) {
    stroke-width: 48;
    animation: curve 35s linear 4.2s infinite;
}
.curveWrap .curve path:nth-child(4),
.curveWrap_1 .curve path:nth-child(4) {
    stroke-width: 41;
    animation: curve 35s linear 5.6s infinite;
}

.last_content_shadow {
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.4);
}

.mobile_menu {
    display: none;
}

.desktop_menu {
    display: block;
    width: 100vw;
    padding: 5px;
    min-height: 60px;
    background-color: #333;
    box-shadow: 0px 6px 7px 0px #f39c1254;
    z-index: -91;
}



.logo {
    width: 75px;
    height: 70px;
}
.logo_1 {
    width: 35px;
    height: 70px;
}
.logo_2 {
    width: 40px;
    height: 70px;
}
.logo,
.logo_1,
.logo_2 {
    transition: all 0.5s;
}

.logo:hover,
.logo_1:hover,
.logo_2:hover {
    border-radius: 45px;
    /* border-style:solid; */
    background-color: #646464;
    box-shadow: olive 0px -2px 13px 9px #f39c1254;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 0vh 1vw 0vw 1vw;
    margin: 13vh 0px 13vh 0px;
    height: 65vh;
    position: fixed;
    z-index: 1;
    /* top: 10vh; */
    /* bottom: 20vh; */
    right: 0;
    width: 17vw;
    overflow-x: hidden;
}

/* sidebar_img {
    height: 20vh;
    width: 120vw;
    background-color: #e74d4d;
    color: #e74d4d;
    z-index: 45;
} */

.sidebar h3,
.side-panel h3 {
    margin-bottom: 10px;
    font-weight: bolder;
    color: #f39c12;
    font-size: 20px;
}
.sidebar ul,
.side-panel ul {
    list-style-type: none;
}
.sidebar li,
.side-panel li {
    margin-bottom: 10px;
    font-size: 18px;
}
.sidebar a,
.side-panel a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.sidebar a:hover,
.side-panel a:hover {
    color: #f39c12;
}
.sidebar li:before,
.side-panel li:before {
    padding-right:10px;
    font-weight: bold;
    color: #e74d4d;
    content: "\2606";
    transition-duration: 0.5s;
}
.sidebar li:hover:before,
.side-panel li:hover:before {
    color: #e93131;
    content: "\2605";
}



/* Оформление панели */
#side-checkbox {
    display: none;
}
.side-content {
    padding: 10vh 0px 20px 0px;
    z-index: -1;
}
.side-panel {
    position: fixed;
    overflow: scroll;
    z-index: 20;
    top: 0;
    left: -55vw;
    background: #333;
    transition: all 0.7s;   
    width: 75vw;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 0px 0px 0px 10px;
}
.side-title {
    position: fixed;
    font-size: 35px;
    padding: 15px 0px ;
    margin-bottom: 90px;
    border-bottom: 2px solid #BFE2FF;
    /* z-index: -1; */
    background: #333;
    width: 72vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mobile_menu_el {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}


.logo_name p{
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 55px;
    color: #f39c12;
    text-shadow: -3px -3px 8px rgb(195 14 14 / 81%);
}

.desktop_menu .logo_name p {
        letter-spacing: 15px;
}

/* Оформление кнопки на странице */
.side-button-1-wr {
    display: block;
    position: fixed;
    /* text-align: right; */
/*Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 {
    display: inline-block;
    width: 0vw;
}
.side-button-1 .side-b {
    position: relative;
    margin-top: 1.5vh;
    margin-left: 90vw;
}
.side-button-1 .side-open {
    margin-left: 90vw;
    margin-top: 1.5vh;
}

/* .side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
} */

/*.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 980ms ease-in-out;
    width: 0;
}*/

/* .side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: green;
} */
/* .side-button-1 .side-close:after,
.side-button-1 .side-close:before {
    background: red;
} */
/* .side-button-1 .side-b:before {
    top: -6px;
} */
/* .side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
} */

/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;    
    transition: all 280ms ease-in-out;
    background: #333;  
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #FFF;
}



@keyframes curve {
    0% {
        transform: rotateX(0deg) skewY(0deg);
        stroke-opacity: 0.7;
    }
    50% {
        transform: rotateX(360deg) skewY(8deg);
        stroke-opacity: 1;
    }
    100% {
        transform: rotateX(0deg) skewY(0deg);
        stroke-opacity: 0.7;
    }
}

@media screen and (max-width:767px) {
    .footer-parallax {
        position:static;
    }
}

@media (max-width: 1440px) {
    .description h3,
    .block-figure-4 .triangle-txt h3, 
    .sidebar h3 {  
        font-size: 18px; 
    }
    .description p,
    .block-figure-4 .triangle-txt p {
        font-size: 14px; 
    }
    .sidebar li {
        font-size: 11px; 
    }
    .fighters {
        padding: 15vw 2% 0vw 2%;
        width: 96%;
    }
    .desktop_menu .logo_name p {
        letter-spacing: 0px;
}
}

@media (max-width: 932px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }
    .container {
        grid-template-columns: 100vw 0vw;
        gap: 0;
    }
    .content {
        gap: 2vw;
    }
    .sidebar {
        display: none;
    }

    .block-figure-4 .triangle-txt {
        left: 0;
    }
    .block-figure-4:hover .triangle-txt {
        left: 108%;
    }
    .block-figure-4 {
        position: relative;
        display: block;
        width: 47vw;
        height: 47vw;
    }
    .description {
        position: relative;
        text-align: center;
        margin: 0 0 0 0%;
        padding: 1%;
        width: 47vw;
        height: 47vw;
    }
    .container {
        display: block;
    }
    .curveWrap_1 {
        height: 15vh;
    }
    .description h3,
    .block-figure-4 .triangle-txt h3, 
    .sidebar h3 {  
        font-size: 18px; 
    }
    .description p,
    .block-figure-4 .triangle-txt p, 
    .sidebar li {
        font-size: 14px; 
    }
    .desktop_menu {
        display: none;
    }
    .mobile_menu {
        /* display: flex;
        justify-content: space-between; */
        display: block;
        position: fixed;
        width: 100%;
        height: 9vh;
        padding: 5px;
        min-height: 60px;
        background-color: #333;
        box-shadow: 0px 6px 7px 0px #f39c1254;
        z-index: -91;
    }
    .side-panel {
        left: -85vw;
        width: 40vw;
    }
    .navigate {
        display: none;
    }
    .side-title {
        width: 38vw;
    }
    .footer-parallax {
        width: 100vw;
        box-shadow: -1px -8px 14px 0px #f39c126b;
    }
    .fighters {
        padding: 12vh 1% 0vw 1%;
        width: 98%;
    }
    .logo {
        margin-left: 1vw;
        height: 68px;
        width: 68px;
    }
    .logo_name p{
        letter-spacing: 7px;
        font-size: 45px;
    }
}

@media (max-width: 932px) and (orientation: landscape) {
    .mobile_menu {
        height: 8vw;
    }
}

@media (max-width: 700px) {
    .side-panel {
        width: 55vw;
    }
    .side-title {
        width: 53vw;
    }
    .side-button-1 .side-b,
    .side-button-1 .side-open,
    .side-button-1 .side-close {
        margin-top: 1.5vh;
        margin-left: 89vw;
    }
    .logo_name p{
        letter-spacing: 1px;
        font-size: 45px;
    }
}

@media (orientation: landscape) {
    .side-content {
        padding: 17vh 0px 20px 0px;
        z-index: -1;
    }

}

@media (max-width: 540px) {
    .sidebar {
        display: none;
    }
    .container {
        grid-template-columns: 100vw 0px;
    }
    .content {
        display: flex;
        justify-content: space-evenly;
        gap: 15vh;
        flex-wrap: wrap;
        padding: 0vh 0vh 0vh 0vh;
    }
    .first_content {
        padding: 15vh 0vh 15vh 0vh;
    }
    .last_content {
        padding: 15vh 0vh 15vh 0vh;
    }
    .block-figure-4:hover .whitespace {
        background: #f0ecec00;
        margin: 0;
        height: 18vw;
    }
    .block-figure-4 .triangle-txt {
        left: 0;
        top: 0;
    }
    .block-figure-4:hover .triangle-txt {
        left: 0;
        top: 101%;
    }
    .block-figure-4:hover .triangle-txt p, 
    .block-figure-4:hover .triangle-txt .whitespace {
        display: none;
    }

    .block-figure-4 {
        position: relative;
        display: block;
        width: 98vw;
        height: 98vw;
        margin: 0vw 1vw 0vw 1vw;
    }
    .description {
        width: 98vw;
        height: auto;
        margin: 0;
    }

    .footer-parallax {
        height: 15vh;
    }
    .curveWrap {
        height: 15vh;
    }

    .curveWrap_1 {
        height: 10vh;
    }
    .description h3,
    .block-figure-4 .triangle-txt h3, 
    .sidebar h3 {  
        font-size: 16px; 
    }
    .description p,
    .block-figure-4 .triangle-txt p, 
    .sidebar li {
        font-size: 12px; 
    }
    .side-panel {
        width: 75vw;
    }
    .side-title {
        width: 73vw;
    }
    .fighters {
        padding: 12vh 1% 0vw 1%;
        width: 98%;
    }
    .side-button-1 .side-b,
    .side-button-1 .side-open,
    .side-button-1 .side-close {
        margin-top: 2vw;
        margin-left: 85.5vw;
    }
    .mobile_menu {
        height: 8vh;
    }
    .side-title {
        height: 3vh;
    }
    .logo_name p{
        letter-spacing: 0px;
        font-size: 38px;
    }
    .logo {
        margin-left: 1vw;
        height: 65px;
        width: 65px;
    }
}

@media (max-width: 450px) {
    .logo_name p{
        font-size: 34px;
    }
    .logo {
        margin-left: 1vw;
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 415px) {
    .logo_name p{
        font-size: 35px;
    }
    .logo {
        margin-left: 1vw;
        height: 55px;
        width: 55px;
    }
}

@media (max-width: 400px) {
    .content {
        gap: 10vh;
    }
    .first_content,
    .last_content {
        padding: 10vh 0vh 10vh 0vh;
    }
    .description h3,
    .block-figure-4 .triangle-txt h3, 
    .sidebar h3 {  
        font-size: 14px; 
    }
    .description p,
    .block-figure-4 .triangle-txt p, 
    .sidebar li {
        font-size: 12px; 
    }
    .side-panel h3 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .side-panel li {
        margin-bottom: 10px;
        font-size: 15px;
    }
    .side-button-1 .side-b,
    .side-button-1 .side-open,
    .side-button-1 .side-close {
        margin-top: 2vw;
        margin-left: 84vw;
    }
    .logo_name p{
        font-size: 29px;
    }
    .logo {
        height: 54px;
        width: 54px;
    }
}

@media (max-width: 355px) {
    .side-button-1 .side-b,
    .side-button-1 .side-open,
    .side-button-1 .side-close {
        margin-bottom: 5vw;
        margin-left: 82vw;
    }
    .logo_name p{
        font-size: 24px;
    }
    .logo {
        height: 54px;
        width: 54px;
    }
}

@media (max-width: 310px) {
    .side-button-1 .side-b,
    .side-button-1 .side-open,
    .side-button-1 .side-close {
        margin-bottom: 5vw;
        margin-left: 82vw;
    }
    .logo_name p{
        font-size: 23px;
    }
    .logo {
        height: 40px;
        width: 40px;
    }
}

@media (orientation: landscape) and (max-width: 355px) {
    .mobile_menu {
        height: 8vw;
    }
    .side-button-1 .side-b,
    .side-button-1 .side-open,
    .side-button-1 .side-close {
        margin-bottom: 5vw;
        margin-left: 6vw;
    }
}