* 
{
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

body {
    font-family: sans-serif;
}

.background {
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
.menu_bar {
    margin-top: 40px;
    display: flex;
    gap: 346px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

.logotext {
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow {
    color: #000000;
}

.be {
    color: #F25822;
}

.menu {
    background: #FFF;
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    align-items: center;
}

.menu_button,
.menu_button_red,
.menu_button_start
{
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_button_red {
    color: #F25822;
}

.menu_button_start {
    border-radius: 30px;
    background: #F25822;
    color: #FFF;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check_mark_button {
    display: flex;
    align-items: flex-start;
}

.check_mark {
    width: 8px;
    flex-shrink: 0;
    margin:auto;
}

.image_1 {
    width: 545px;
    height: 375px;
    flex-shrink: 0;
}

.home_meta {
    margin-top: 143px;
    margin-bottom: 103px;
    position: relative;
    flex-shrink: 0;
}

.home_block {
    display: flex;
    align-items: center;
    gap: 41px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.ellipse {
    width: 314px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 170px / 40px;
    border: 1px solid #F25822;
    margin-left: -960px;
    position: absolute;
    margin-bottom: 125px;
}
.title_home_meta {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

.sub_title_home_meta,
.watch_video {
    color: #888888;
    font-size: 20px;
    font-family: Gilroy-Medium;
    font-weight: 400;
    word-wrap: break-word;
}

.sub_title_home_meta {
    padding-top: 17px;
    padding-bottom: 37px;
}

.button_meta {
    display: flex;
    align-items: center;
}

.menu_button_start_now {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 27px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.image_video {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.brand_logo {
    display: flex;
    gap: 48px;
    flex-direction: row;
    margin-top: 97px;
    margin-bottom: 96px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo_brand {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}