* 
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
  }

.desktop_index {
    background: #FFF;
    max-width: 100vw;
    /* max-height: 100vh; */
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header {
    background-color: #222;
    display: grid;
    grid-template-columns: min-content max-content;
    justify-content: space-around;
    align-items: center;
    margin-left: inherit;
    /* gap: 25%; */
}

.logo {
    display: grid;
    gap: 41px;
    align-items: center;
    grid-template-columns: min-content max-content;
}

.logo_ico {
    margin-top: 18px;
    margin-bottom: 18px;
}

.search {
    background-color: #222;
    border-radius: 45%;
    padding: 15px;
    transition: all 2s ease;
}

.search:hover {
    background-color: #353535;
    padding: 15px;
    transition: all 2s ease;
}

.top {
    background-color: #F1E4E6;
    max-width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.top_img {
    max-width: 100vw;
}

.promo__content {
    padding-left: 64px;
    /* max-width: 50vw; */
}

.promo__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 75%;
    font-family: Lato;
}

.promo__title,
.promo__heading,
.fashion {
    font-style: normal;
    line-height: normal;
    color: #222222;
    font-family: Lato;
}


.promo__title {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.promo__heading {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.fashion {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}

.offer {
    display: grid;
    gap: 30px;
    padding-top: 65px;
    padding-bottom: 96px;
    justify-items: center;
    align-items: baseline;
    justify-content: center;
    align-content: stretch;
}

.head_offer {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.foot_offer {
    max-width: 100vw;
}

.offer_small {
    display: flex;
    background-color: rgba(33, 22, 22, 0.70);
    position: relative;
}

.offer_big {
    display: flex;
    background-color: rgba(33, 22, 22, 0.70);
    position: relative;
}

.offer_small img,
.offer_big img {
    opacity: 30%;
}

.sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   
  .sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .sale__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
  }

.products {
    padding-bottom: 96px;
}

.product-box__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
  }
  
  .product-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
  }

.products_product {
    max-width: 100vw;
    margin-top: 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (360px)[auto-fit];
    grid-template-columns: repeat(3, 30%);
    /* -webkit-box-pack: center; */
    -ms-flex-pack: center;
    gap: 30px;
    justify-content: space-between;
}

.product {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.product:hover .product__img {
    filter: brightness(0.5);
}



.product_img_box {
    display: contents;
    width: 30vw;
    background: #F8F8F8;
}

.product__img {
    object-fit: cover;
    max-width: 100%;
    height: 30vh;
}



.product__content {
    background: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
  }

.product__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
  
.product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

@media (min-width: 768px) and (max-width: 1025px) {
    .promo__content {
        display: flex;
        /* padding-left: 64px; */
        /* max-width: 50vw; */
        align-content: stretch;
        justify-content: flex-start;
        align-items: baseline;
    }
    
    .promo__title {
        font-size: 36px;
    }

    .promo__heading, .fashion{
        font-size: 24px;
    }

    .top_img {
        max-width: 50vw;
    }

    .products_product {
        margin: 65px;
    }

}

@media (max-width: 768px) {
    .head_offer {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .offer_big {
        max-width: 85vw;
        display: flex;
        background-color: rgba(33, 22, 22, 0.70);
        position: relative;
    }

    .promo__info {
        border-left: 12px solid #F16D7F;
        padding-left: 6px;
        margin-top: 25%;
        margin-bottom: 25%;
        margin-left: 12%;
        font-family: Lato;
    }

    .top_img {
        width: 0px;
    }

    .products_product {
        max-width: 100vw;
        margin-top: 48px;
        display: -ms-grid;
        display: flex;
        -ms-grid-columns: (360px)[auto-fit];
        grid-template-columns: repeat(3, 30%);
        -ms-flex-pack: center;
        gap: 30px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .offer {
        display: grid;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-items: center;
        align-items: baseline;
        justify-content: center;
        align-content: stretch;
    }

    .product_img_box {
        display: contents;
        max-height: 100vh;
        background: #F8F8F8;
    }
}

